version: '3.3'
services:
  postgres:
    container_name: psql
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./docker/psql/init:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password
  app:
    container_name: hotpotbot9
    restart: always
    build:
      context: .
      dockerfile: ./docker/golang/Dockerfile
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    volumes:
      - .:$GOPATH/src/github.com/heroku/hotpotbot9
    command: go run main.go

