<!DOCTYPE html>
<html lang="Ja">
<head>
    <meta charset="UTF-8">
  	<meta name="description" content="TMH Engineer Hotpot">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <title>イベント後アンケート</title>
</head>
<body>
    <div class="container mt-5">
        <form　action="/post-survey" method="POST">
            <div class="form-group">
                <label for="satisfaction">イベントの満足度を教えてください。</label>
                <select class="form-control" id="satisfaction" name="satisfaction">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="impression">イベントの感想を教えてください。</label>
                <textarea class="form-control" id="impression" name="impression" rows="3"></textarea>
            </div>    
            <div class="form-group">
                <label for="theme">今後取り上げて欲しいテーマがあれば教えてください。</label>
                <textarea class="form-control" id="theme" name="theme" rows="3"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">送信</button>
            </div>
        </form>
        <div class="container footer d-flex justify-content-center mt-4">
            <p>Copyright@ Tribal Media House.inc</p>
        </div>
    </div>
</body>
</html>